
* {
	box-sizing: border-box;
	color: black;
 	font-size: 100%;
 	font-family: Arial;
}

.about{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.main{
	background-color: white;
}

.headshot{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.bio{
	color: black;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	text-align: left;
}

#title{
	float: left;
	text-align: center;
	background-color: white;
	color: black;
	margin-left: auto;
	margin-right: auto;
	font-size: 36px;
}

#bracket{
	float: right;
	text-align: right;
	background-color: white;
	font-size: 36px;
}

.title_list{
	width:30%;
	padding-top: 1%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	font-size: 36px;
}

#footer{
	text-align: left;

	background-color: white;
	color: black;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	font-size: 36px;
}

.nav_group{
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding-top: 1%;
}

li a{
	float: left;
	text-align: center;
	padding: 14px;
	color: white;
	background-color: black;
	text-decoration: none;
	width: 33.3333%;
}

li:hover a{
	opacity: 0.8;
	color: rgba(0,0,0,.3);
	background-color: white;
}

ul {
	font-size: 24;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	color: white;
	box-sizing: border-box;
}

.headshot{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.bio{
	color: black;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	text-align: left;
}

.contact{
	padding-top: 1%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.dark{
	width: 30%;
	column-count: 1;
	margin-left: auto;
	margin-right: auto;
}

.dark:hover{
    background: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(0,0,0,.7));
}

.dark img{
	width: 100%;
}

.dark:hover img{
	opacity: 1;
}

.dark:hover .info{
	opacity: 1;
}

.dark .info{
	opacity: 0;
}

.dark:hover .info{
	opacity: 1;
}

.itch{
	height:105;
	width:350;
}

.dark .info p{
	padding-top: 10px;
	color:white;
	margin: 4%;
}

.itch{
	margin: 6%;
}

.dark .info p .logline{
	padding-top: 0px;
	color: white;
}

.logline u{
	color: white;
}

.dark:hover .info p{
	color:white;
}

.dark .info{
	
	row-count: 3;
}

.dark .info .download{
	text-align: center; 
	padding-top: 10px;
	padding-bottom: 25px;
}

.dark .info .download:hover{
	text-decoration: none;
	
	
}

.dark .info .download-button{
	border-collapse: separate;
	text-decoration: none;
	color: white;
	border: 3px solid white;
	border-radius: 2px;
	border-height: 4px;
	border-left: 4px;
	border-right: 4px;
	opacity: .5;
	padding: 5px;
	
}

.dark .info .download-button:hover{
	opacity: 1;
	border: 3px solid green;
	border-bottom: 4px;
	border-top: 4px;
	color: green;
}

.building{
	font-size: 40;
	color: white;
	height: 5%;
}

.building:hover{
	background-color: black;
	vertical-align: center;
	padding-top: 50px;
}

